/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #6d7497;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  height: 80vh;
  margin-top: 15vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

div#container {
  margin-left: 30px;
  width: 30ch;
  line-height: 30px;
  font-family: sans-serif, helvetica;
  font-size: 16px;
  text-transform: lowercase;
}